.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
.back
{
    padding: 10px;
    background-color: rgb(62, 62, 201);
    color: white;
    border-radius: 50%;
    margin: 0%;
}